@model X.PagedList.IPagedList<ProjetoMVC.App.Areas.Admin.ViewModels.ModeloBancadaViewModel>
@{
    ViewData["Title"] = "Index";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Modelos de Bancadas</h1>


<form method="get">
    <div class="form-group">
        <label for="pesquisa" class="control-label"></label>
        <input id="pesquisa" value="@pesquisa" name="pesquisa" type="text" class="form-control" placeholder="Digite o Telefone ou Nome" />
    </div>
    <button type="submit" value="Pesquisar" class="btn btn-info">Pesquisar</button>
</form>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Categoria</th>
            <th hidden></th>
        </tr>
    </thead>
    <tbody id="listaDeModelos">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/imagens/@item.Imagem" alt="@item.Imagem" style="width: 70px; height: 70px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td class="text-right" hidden>
                    @*<a class="btn btn-info" asp-action="adicionar-modelo-de-bancada" asp-route-id="@item.Id"><spam class="fa fa-search">Selecionar</spam></a>*@
                    @*<a id="@item.Id" class="btn btn-info selecionarBancada">Selecionar</a>*@
                    <div class="id">@item.Id</div>
                    <div class="quantidadePecas">@item.QuantidadePecas</div>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina, pesquisa = pesquisa }))



<!-- Modal -->
<div class="modal fade" id="modelBancada" tabindex="-1" role="dialog" aria-labelledby="modelBancada" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adicionar Medidas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputsm">Frontão</label>
                            <input class="form-control input-sm" id="frontao" type="text" value="">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputsm">Saia</label>
                            <input class="form-control input-sm" id="saia" type="text">
                        </div>
                    </div>
                </div>
           
                <hr />
                <div id="pecas">
                    @*Será inserido por javascript de acordo com a quantidade de peças*@

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button id="adicionarBancada" type="button" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </div>
</div>
