@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model X.PagedList.StaticPagedList<ProjetoMVC.Business.Models.Produto>
@{
    ViewData["Title"] = "Lista de Produtos";
    var pesquisa = Context.Request.Query["pesquisa"];
}
<h1>@ViewData["Title"]</h1>



<form method="get">
    <div class="form-group">
        <label for="pesquisa" class="control-label"></label>
        <input id="pesquisa" value="@pesquisa" name="pesquisa" type="text" class="form-control" placeholder="Digite o Telefone ou Nome" />
    </div>
    <button type="submit" value="Pesquisar" class="btn btn-info">Pesquisar</button>
</form>

@foreach (var item in Model)
{

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/imagens/@item.Imagem" alt="@item.Imagem">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
            <p class="card-text"> @Html.DisplayFor(modelItem => item.Valor)</p>
            <a class="btn btn-primary" asp-controller="Orcamento" asp-action="AdicionarItem" asp-route-id="@item.Id">Adicionar</a>
        </div>
    </div>
}

@Html.PagedListPager((IPagedList)Model, pagina => Url.Action("ListaDeProdutos", new { pagina = pagina, pesquisa = pesquisa }))